.container {
    max-width: 45rem;
    padding: 0 1rem;
    margin: 4rem auto 6rem;
}

.header {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 15px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--background-color);
    z-index: 100;
    height: var(--header-height);

    transition: all 0.3s ease-out;
}

.menu {
    margin: 0 12px;
    padding: 16px 0;
    text-decoration: none;
}

.menu:hover {
    cursor: pointer;
    text-decoration: none;
}

.post_main {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin: 4rem 0 0;
    color: #1976d2;
}

@media (max-width: 550px) {
    .header {
        font-size: 1rem;
    }
    .container {
        font-size: 12px;
    }
}
