:root {
  --background-color: black;
  --font-color: white;
}

html,
body {
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 18px;
}

html {
  background: var(--background-color);
  color: var(--font-color);
  transition: background 1s;
}

html.dark {
  --background-color: black;
  --font-color: white;
}
html.light {
  --background-color: white;
  --font-color: black;
}

body .MuiCardContent-root {
  background: var(--background-color);
  transition: background 1s;
}

* {
  box-sizing: border-box;
}

a {
  color: #0482C6;
  text-decoration: none;
}

img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

details > summary {
  padding: 2px 6px;
  cursor: pointer;
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

table, th, td {
  border: 1px solid #C1C1C1;
  border-collapse: collapse;
}

th {
  background: #FAFAFA;
}

html.dark th {
  background: #202020;
}

td {
  padding: 0 5px;
}

@media (max-width: 550px) {
  div.remark-highlight pre {
    margin: 1rem -1rem;
    border-radius: 0;
  }
}
