@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --default-black: #282c34;
  --default-white: hsl(220, 14%, 71%);;

  --code-font-color: #EB5757;
  --light-code-bg: #d8d8d8;
  --dark-code-bg: #292927;

  --background-color: var(--default-black);
  --font-color: var(--default-white);
  --link-color: #61AFEF;
  --header-height: 60px;

  font-size: calc(1rem + 0.25vw);


  /* One Dark colurs */
 --mono-1: hsl(220, 14%, 71%);
 --mono-2: hsl(220, 9%, 55%);
 --mono-3: hsl(220, 10%, 40%);
 --hue-1: hsl(187, 47%, 55%);
 --hue-2: hsl(207, 82%, 66%);
 --hue-3: hsl(286, 60%, 67%);
 --hue-4: hsl(95, 38%, 62%);
 --hue-5: hsl(355, 65%, 65%);
 --hue-5-2: hsl(5, 48%, 51%);
 --hue-6: hsl(29, 54%, 61%);
 --hue-6-2: hsl(39, 67%, 69%);
 --syntax-fg: hsl(220, 14%, 71%);
 --syntax-bg: hsl(220, 13%, 18%);
 --syntax-gutter: hsl(220, 14%, 45%);
 --syntax-guide: hsla(220, 14%, 71%, 0.15);
 --syntax-accent: hsl(220, 100%, 66%);

 --syntax-selection-color: hsl(220, 13%, 28%);
 --syntax-gutter-background-color-selected: hsl(220, 13%, 26%);
 --syntax-cursor-line: hsla(220, 100%, 80%, 0.04);
}

html,
body {
  font-family: "Goorm Sans Code", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  padding: 0;
  margin: 0;
  line-height: 1.6;
  color: var(--font-color);
  background: var(--background-color);
  color: var(--default-white);
}

a {
  color: var(--link-color);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

img {
  max-width: 80%;
  border-radius: 10px;
  display: block;
  margin: 30px auto;
}

details > summary {
  padding: 2px 6px;
  cursor: pointer;
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

table, th, td {
  border: 1px solid #C1C1C1;
  border-collapse: collapse;
}

th {
  background: #FAFAFA;
}

html.dark th {
  background: #202020;
}

td {
  padding: 0 5px;
}

blockquote {
  margin: 0;
  padding: 0 1em;
  color: grey;
  border-left: 0.25em solid #C1C1C1;
}

@media (max-width: 550px) {
  div.remark-highlight pre {
    margin: 1rem -1rem;
    border-radius: 0;
  }
}

pre {
  white-space: pre-wrap;
}