/*
 * react-calendar-heatmap styles
 *
 * All of the styles in this file are optional and configurable!
 * The github and gitlab color scales are provided for reference.
 */

.react-calendar-heatmap text {
  font-size: 10px;
  fill: #aaa;
}

.react-calendar-heatmap .react-calendar-heatmap-small-text {
  font-size: 5px;
}

.react-calendar-heatmap rect:hover {
  stroke: #555;
  stroke-width: 1px;
}

/*
 * Default color scale
 */

/* .react-calendar-heatmap .color-empty {
  fill: #eaeaea;
}

.react-calendar-heatmap .color-filled {
  fill: #8cc665;
} */

/*
 * Pomodoro color scale
 */

html.dark .react-calendar-heatmap .color-github-0 {
  fill: #373d47;
}

html.light .react-calendar-heatmap .color-github-0 {
  fill: #d3d3d3;
}

.react-calendar-heatmap .color-github-1 {
  fill: #d19a9c;
}
.react-calendar-heatmap .color-github-2 {
  fill: #d76a6d;
}
.react-calendar-heatmap .color-github-3 {
  fill: #db4e53;
}
.react-calendar-heatmap .color-github-4 {
  fill: #DF3137;
}
