.heading2Xl {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingXl {
    font-size: 1.8rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.headingGradient {
    background: linear-gradient(45deg, #dfdfdf, #56B6C2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 10px 0 0;
}

.headingLg {
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1.4;
    margin: 1rem 0;
}

.headingMd {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5;
}

.colorInherit {
    color: inherit;
}

.padding1px {
    padding-top: 1px;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.listItem {
    margin: 0 0 1.25rem;
    cursor: pointer;
}

.listItem:hover {
    box-shadow: 2px 2px 15px -10px #000000;
}

.lightText {
    color: #666;
}

.body2 {
    color: #757575;
}

.rotateOnHover:hover {
    transform: rotate(-1deg);
}

@media (max-width: 550px) {
    .headingXl {
        font-size: 1.5rem;
    }

    .headingLg {
        margin: 1rem 0 0 0;
    }
}